*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font-family: "Work Sans", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* Nav Bar */
.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	background: rgb(247, 247, 247);
}

.nav-bar-links {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-end;
}

.nav-bar-link {
	margin-right: 15px;
}

.nav-bar-link_link {
	font-family: "Work Sans", sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	transition: all ease-in-out 0.2s;
	position: relative;
	padding-bottom: 5px;
}

.nav-bar-link_link::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #26578d;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.nav-bar-link_link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.nav-bar-link_link:hover {
	color: #26578d;
}

.nav-bar-logo-img {
	width: 100px;
}

/* Hero */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("/src/assets/hero-image.jpg");
	height: 75vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	color: white;
	font-family: "Work Sans", sans-serif;
	letter-spacing: 5px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Content Section */
.content-section {
	background: rgb(247, 247, 247);
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 15px;
}

.content-img {
	width: 250px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 50%;
}

/* Footer */
footer {
	background: rgb(247, 247, 247);
}

.location-hours {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.address {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.address > a {
	font-size: 20px;
	letter-spacing: 1.5px;
	text-decoration: none;
	color: black;
	transition: all ease-in-out 0.2s;
}

.address > a:hover {
	cursor: pointer;
	color: #26578d;
}

.location-icon {
	width: 25px;
}

.divider {
	width: 33%;
	height: 1px;
	margin: 15px auto;
	background: rgb(211, 209, 209);
}

.copyright-socials {
	text-align: center;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.socials {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.social-icon {
	width: 25px;
}

.social-icon:hover {
	cursor: pointer;
}

/* General Components */

.btn {
	border: 2px solid #26578d;
	background-color: #fff;
	color: #26578d;
	font-weight: 600;
	border-radius: 5px;
	padding: 5px 15px;
	margin-top: 10px;
	transition: all ease-in-out 0.3s;
}

.btn:hover {
	cursor: pointer;
	background: #26578d;
	color: #fff;
}

@media screen and (max-width: 768px) {
}
